input[type=checkbox] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

input[type=radio] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

.clickable {
  border-style: hidden;
  border-color: gray;
  border-width: thin;
}

.clickable:hover {
  background-color: lightgray;
  border-style: dotted;
  border-color: gray;
  border-width: thin;
}
